 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1 .u-text-1 {
  margin: 157px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 10px;
  border-style: solid;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 0px 0px 15px 0px rgba(128,128,128,1);
  font-weight: 700;
  margin: 83px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-2 {
  --radius: 10px;
  border-style: solid;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 0px 0px 15px 0px rgba(128,128,128,1);
  font-weight: 700;
  margin: 20px auto 60px;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-btn-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}